.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.input {
    border-radius: var(--main-border-radius);
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
    border: #fff;
    padding: 1rem;
    font-size: 1.6rem;
    display: block;
}

input::placeholder {
    font-size: 1.6rem;
}