.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.input {
    border-radius: var(--main-border-radius);
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
    border: #fff;
    padding: 1rem;
    font-size: 1.6rem;
    display: block;
}

input::placeholder {
    font-size: 1.6rem;
}

.btn {
    background-image: var(--gradient);
    border: none;
    border-radius: var(--main-border-radius);
    color: inherit;
    padding: 1rem;
    font-weight: 700;
    width: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
}